In [ ]:
import pandas as pd 

BASE = '../datasets/HR-Employee-Attrition.csv'

df = pd.read_csv(BASE)

In [10]:
with pd.option_context("float_format", "{:.2f}".format, "display.max_columns", 35):
    display(df.describe())

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,MonthlyRate,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00
mean,36.92,802.49,9.19,2.91,1.00,1024.87,2.72,65.89,2.73,2.06,2.73,6502.93,14313.10,2.69,15.21,3.15,2.71,80.00,0.79,11.28,2.80,2.76,7.01,4.23,2.19,4.12
std,9.14,403.51,8.11,1.02,0.00,602.02,1.09,20.33,0.71,1.11,1.10,4707.96,7117.79,2.50,3.66,0.36,1.08,0.00,0.85,7.78,1.29,0.71,6.13,3.62,3.22,3.57
min,18.00,102.00,1.00,1.00,1.00,1.00,1.00,30.00,1.00,1.00,1.00,1009.00,2094.00,0.00,11.00,3.00,1.00,80.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00
25%,30.00,465.00,2.00,2.00,1.00,491.25,2.00,48.00,2.00,1.00,2.00,2911.00,8047.00,1.00,12.00,3.00,2.00,80.00,0.00,6.00,2.00,2.00,3.00,2.00,0.00,2.00
50%,36.00,802.00,7.00,3.00,1.00,1020.50,3.00,66.00,3.00,2.00,3.00,4919.00,14235.50,2.00,14.00,3.00,3.00,80.00,1.00,10.00,3.00,3.00,5.00,3.00,1.00,3.00
75%,43.00,1157.00,14.00,4.00,1.00,1555.75,4.00,83.75,3.00,3.00,4.00,8379.00,20461.50,4.00,18.00,3.00,4.00,80.00,1.00,15.00,3.00,3.00,9.00,7.00,3.00,7.00
max,60.00,1499.00,29.00,5.00,1.00,2068.00,4.00,100.00,4.00,5.00,4.00,19999.00,26999.00,9.00,25.00,4.00,4.00,80.00,3.00,40.00,6.00,4.00,40.00,18.00,15.00,17.00

## O que são outliers

Outliers são valores que fogem do padrão de um conjunto de dados. São valores muito alto ou muito baixos que podem influenciar negativamente em uma análise dos dados. Por exemplo, se temos um conjunto de dados com salários de funcionários de uma empresa e um dos salários é muito maior do que os outros esse valor pode ser considerado um outlier.

Estatisticamente um outlier é um valor que está 1.5 vezes o intervalo interquartil acima do Q3 ou a mais de 1.5 vezes o intervalo interquartil abaixo do Q1. O intervalo interquartil é a diferença entre o  Q3 e o Q1

In [35]:
# Calculando com base no DataFrame acima para a coluna 'Age':

Q1_AGE = 30
Q3_AGE = 43

iqrt_min_age = Q1 - ((Q3 - Q1) * 1.5)
iqrt_max_age = Q3 + ((Q3 - Q1) * 1.5)

print(iqrt_min_age_column) # Qualquer valor menor que este é um outlier pra menos
print(iqrt_max_age_column) # Qualquer valor maior que este é um outlier pra mais

10.5
62.5

### Verificando se o valor mínimo e máximo são outliers para algumas colunas do nosso DataFrame:

In [36]:
# Coluna 'Age':

min_age = df['Age'].min()
max_age = df['Age'].max()


print("Age - min is outlier") if min_age < iqrt_min_age else print("Age - min isn't outlier") 
print("Age - max is outlier") if max_age > iqrt_max_age else print("Age - max isn't outlier")

Age - min isn't outlier
Age - max isn't outlier

In [44]:
# Coluna 'TotalWorkingYears': 

# Variáveis que vão armazenar os valores dos nossos quartis
Q1_TWY = 6
Q3_TWY = 15

# Determinando o intervalo interquartil pra mais e pra menos
iqrt_min_twy  = Q1_TWY - ((Q3_TWY - Q1_TWY) * 1.5)
iqrt_max_twy = Q3_TWY + ((Q3_TWY - Q1_TWY) * 1.5)

print("iqrt min: ", iqrt_min_twy)
print("iqrt max: ", iqrt_max_twy)


# Obtendo o valor máximo (o mínimo não é necessário uma vez que o intervalo interquartil é minimo
#é um valor negativo e não faria sentido termos um funcionário com anos negativos de carreira.

max_twy = df["TotalWorkingYears"].max()

print("TotalWorkingYears.max() is outlier") if max_twy > iqrt_max_twy else print("TotalWorkingYears - max isn't outlier")

iqrt min:  -7.5
iqrt max:  28.5
TotalWorkingYears.max() is outlier